:root{
    --base-color: #00E5EE;
    --white-color: #FFFFFF;
    --dark-color1: #000000;
    --dark-color2: #000000BB;
}

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-image: url("../../../assets/images/back.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

main{
    display: flex;
    flex-direction: column;
}

.title{
    color: var(--base-color);
    margin: 20vh auto;
    font-size: calc(5vw + 20px);
    text-shadow: 0 0 10px var(--dark-color1),
                 0 0 10px var(--dark-color1),
                 0 0 10px var(--dark-color1);
}

.container{
    width: 90vw;
    height: 100px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
}
.key{
    display: flex;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-color2);
    color: var(--white-color);
    font-size: calc(3vw + 20px);
    border: 3px solid var(--white-color);
    user-select: none;
    cursor: pointer;
    transition: transform .2s;
}

.active{
    transform: scale(1.3);
    border-color: var(--base-color);
    box-shadow: 0 0 50px var(--base-color);
}